@model PersonalInfo

@{
    ViewData["Title"] = "Особисті данні";
}

<form class="form-horizontal" style="padding-bottom: 20px">

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="LastName"></label>
            <input type="text" class="form-control" id="usr" value="@Model.LastName" disabled>
        </div>

        <div class="col-md-6">
            <label asp-for="FirstName"></label>
            <input type="text" class="form-control" id="usr" value="@Model.FirstName" disabled>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="MiddleName"></label>
            <input type="text" class="form-control" id="usr" value="@Model.MiddleName" disabled/>
        </div>
        
        <div class="col-md-6">
            <label asp-for="BirthDate"></label>
            <input type="datetime" class="form-control" id="usr" value="@Model.BirthDate" disabled/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="Position"></label>
            <textarea rows="4" class="form-control" id="usr" disabled>@Model.Position</textarea>
        </div>

        <div class="col-md-6">
            <label asp-for="Degree"></label>
            <textarea rows="4" class="form-control" id="usr" disabled>@Model.Degree</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="EducationalInstitution"></label>
            <textarea rows="4" class="form-control" id="usr" disabled>@Model.EducationalInstitution</textarea>
        </div>

        <div class="col-md-6">
            <label asp-for="AcademicDisciplines"></label>
            <textarea rows="4" class="form-control" id="usr" disabled>@Model.AcademicDisciplines</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="AdvancedTraining"></label>
            <textarea rows="4" class="form-control" id="usr" disabled>@Model.AdvancedTraining</textarea>
        </div>

        <div class="col-md-6">
            <label asp-for="HomeAddress"></label>
            <textarea rows="4" class="form-control" id="usr" disabled>@Model.HomeAddress</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="Seniority"></label>
            <input type="text" class="form-control" id="usr" value="@Model.Seniority" disabled>
        </div>
    </div>

</form>
