@model PersonalInfo

@{
    ViewData["Title"] = "Особисті данні";
}

<form class="form-horizontal" style="padding-bottom: 20px">

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="LastName" postfix-text=":"></label>
            <input asp-for="LastName" type="text" class="form-control" value="@Model.LastName" disabled>
        </div>

        <div class="col-md-6">
            <label asp-for="FirstName" postfix-text=":"></label>
            <input asp-for="FirstName" type="text" class="form-control" value="@Model.FirstName" disabled>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="MiddleName" postfix-text=":"></label>
            <input asp-for="MiddleName" type="text" class="form-control" value="@Model.MiddleName" disabled/>
        </div>
        
        <div class="col-md-6">
            <label asp-for="BirthDate" postfix-text=":"></label>
            <input asp-for="BirthDate" type="datetime" class="form-control" value="@Model.BirthDate.ToString("dd.MM.yyyy")" disabled/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="Position" postfix-text=":"></label>
            <textarea asp-for="Position" rows="4" class="form-control" disabled>@Model.Position</textarea>
        </div>

        <div class="col-md-6">
            <label asp-for="Degree" postfix-text=":"></label>
            <textarea asp-for="Degree" rows="4" class="form-control" disabled>@Model.Degree</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="EducationalInstitution" postfix-text=":"></label>
            <textarea asp-for="EducationalInstitution" rows="4" class="form-control" disabled>@Model.EducationalInstitution</textarea>
        </div>

        <div class="col-md-6">
            <label asp-for="AcademicDisciplines" postfix-text=":"></label>
            <textarea asp-for="AcademicDisciplines" rows="4" class="form-control" disabled>@Model.AcademicDisciplines</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="AdvancedTraining" postfix-text=":"></label>
            <textarea asp-for="AdvancedTraining" rows="4" class="form-control" disabled>@Model.AdvancedTraining</textarea>
        </div>

        <div class="col-md-6">
            <label asp-for="HomeAddress" postfix-text=":"></label>
            <textarea asp-for="HomeAddress" rows="4" class="form-control" disabled>@Model.HomeAddress</textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="Seniority" postfix-text=":"></label>
            <input asp-for="Seniority" type="text" class="form-control" value="@Model.Seniority" disabled>
        </div>
    </div>

</form>
