@model AuthorSearchRequestViewModel

@{
    ViewData["Title"] = "Пошук автора";
}

<form asp-controller="PublicationActivity" asp-action="AuthorSearch" class="form-horizontal" style="padding-bottom: 20px" asp-antiforgery="true">

    @*There probably should be a better way of how to pass parameters from the model through POST method*@
    <input type="hidden" asp-for="IsNum1" value="@Model.IsNum1"/>
    <input type="hidden" asp-for="IsNum2" value="@Model.IsNum2" />
    <input type="hidden" asp-for="PublicationActivityInfo.Id" value="@Model.PublicationActivityInfo.Id" />
    <input type="hidden" asp-for="PublicationActivityInfo.Num1PublicationsInScienceMetricDatabases" value="@Model.PublicationActivityInfo.Num1PublicationsInScienceMetricDatabases" />
    <input type="hidden" asp-for="PublicationActivityInfo.Num2PublicationsInUkrainianDatabases" value="@Model.PublicationActivityInfo.Num2PublicationsInUkrainianDatabases" />
    <input type="hidden" asp-for="PublicationActivityInfo.Num3TextbookAvailability" value="@Model.PublicationActivityInfo.Num3TextbookAvailability" />
    <input type="hidden" asp-for="PublicationActivityInfo.Num14TeachingManualsAvailibility" value="@Model.PublicationActivityInfo.Num14TeachingManualsAvailibility" />
    <input type="hidden" asp-for="PublicationActivityInfo.Num18PopularSciencePublicationsAvailibility" value="@Model.PublicationActivityInfo.Num18PopularSciencePublicationsAvailibility" />

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="AuthorSearchRequest.NameSurname" postfix-text=":"></label>
            <input asp-for="AuthorSearchRequest.NameSurname" type="text" class="form-control" value="@Model.AuthorSearchRequest.NameSurname"/>
            <span asp-validation-for="AuthorSearchRequest.NameSurname" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="AuthorSearchRequest.Organization" postfix-text=":"></label>
            <select asp-for="AuthorSearchRequest.Organization" class="form-control" asp-items="@(new SelectList(@Model.PredefinedOrganizations, "Name", "Name"))"></select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="AuthorSearchRequest.Keywords" postfix-text=":"></label>
            <textarea asp-for="AuthorSearchRequest.Keywords" rows="4" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label asp-for="AuthorSearchRequest.NumberOfRecords" postfix-text=":"></label>
            <input asp-for="AuthorSearchRequest.NumberOfRecords" type="text" class="form-control" value="@Model.AuthorSearchRequest.NumberOfRecords"/>
            <span asp-validation-for="AuthorSearchRequest.NumberOfRecords" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <input class="btn btn-primary" type="submit" value="Пошук" />
        </div>
    </div>

</form>