@model AuthorSearchResultsViewModel

@{
    ViewData["Title"] = "Результати пошуку автора";
}

<form asp-controller="PublicationActivity" asp-action="IndexWithAuthorSearchResults" class="form-horizontal" style="padding-bottom: 20px" asp-antiforgery="true">

    <input type="hidden" asp-for="PublicationActivity.Id" value="@Model.PublicationActivity.Id" />
    <input type="hidden" asp-for="PublicationActivity.Num3TextbookAvailability" value="@Model.PublicationActivity.Num3TextbookAvailability" />
    <input type="hidden" asp-for="PublicationActivity.Num14TeachingManualsAvailibility" value="@Model.PublicationActivity.Num14TeachingManualsAvailibility" />
    <input type="hidden" asp-for="PublicationActivity.Num18PopularSciencePublicationsAvailibility" value="@Model.PublicationActivity.Num18PopularSciencePublicationsAvailibility" />

    <div id="outputNum1Container" class="form-group row" style="@(Model.IsNum1 ? "display:block" : "display:none")">
        <div class="col-md-12">
            <label asp-for="PublicationActivity.Num1PublicationsInScienceMetricDatabases" postfix-text=":"></label>
            <textarea id="outputNum1" asp-for="PublicationActivity.Num1PublicationsInScienceMetricDatabases" rows="5" class="form-control"></textarea>
        </div>
    </div>

    <div id="outputNum2Container" class="form-group row" style="@(Model.IsNum2 ? "display:block" : "display:none")">
        <div class="col-md-12">
            <label asp-for="PublicationActivity.Num2PublicationsInUkrainianDatabases" postfix-text=":"></label>
            <textarea id="outputNum2" asp-for="PublicationActivity.Num2PublicationsInUkrainianDatabases" rows="5" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <input class="btn btn-default" type="submit" value="Завершити" />
        </div>
    </div>

</form>

<div class="panel-group" id="accordion">

    @{
        var counter = 0;
    }

    @foreach (var author in Model.Authors)
    {
        counter++;

        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="row">

                    <div class="col-md-1 text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + counter)">
                            <h2 class="glyphicon glyphicon-chevron-down" style="color:gray"></h2>
                        </a>
                    </div>

                    <div class="col-md-11">
                        <h4 class="panel-title">
                            <b><label asp-for="@author.NameSurname"></label>:</b> @author.NameSurname <br />
                            <b><label asp-for="@author.HIndex"></label>:</b> @author.HIndex <br />
                            <b><label asp-for="@author.Organization"></label>:</b> @author.Organization <br />
                            <b><label asp-for="@author.Field"></label>:</b> @author.Field <br />
                        </h4>
                    </div>

                </div>
            </div>

            <div id="@("collapse" + counter)" class="panel-collapse collapse">
                <ul class="list-group">

                    @foreach (var publication in author.Publications)
                    {
                        <li class="list-group-item">
                            <div class="row">

                                <div class="col-md-10">
                                    <b><label asp-for="@publication.Name"></label>:</b> @publication.Name <br />
                                    <b><label asp-for="@publication.Authors"></label>:</b> @publication.Authors <br />
                                    <b><label asp-for="@publication.Journal"></label>:</b> @publication.Journal <br />
                                    <b><label asp-for="@publication.Year"></label>:</b> @publication.Year <br />
                                </div>

                                <div class="col-md-2 text-center" style="padding-top: 30px">
                                    <button id="addButton" type="button" class="btn btn-default" onclick="@("addButtonClick('" + @publication.Name + ". " + publication.Authors + ". " + publication.Journal + "\\r\\n')")">Додати</button>
                                </div>

                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>

    }
</div>

@section Scripts
    {
    <script type="text/javascript">
        function addButtonClick(val) {

            $("html, body").animate({ scrollTop: 0 }, "fast");

            var outputNum1Container = document.getElementById('outputNum1Container');
            if (outputNum1Container.style.display == "block")
            {
                var outputNum1 = document.getElementById('outputNum1');
                outputNum1.value += val;
            }

            var outputNum2Container = document.getElementById('outputNum2Container');
            if (outputNum2Container.style.display == "block") {
                var outputNum2 = document.getElementById('outputNum2');
                outputNum2.value += val;
            }
        }
    </script>
}
